@charset "utf-8";

@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;
    font-family: 'TmoneyRoundWindRegular';}
a{color: inherit;
    text-decoration: none;}
ul,li{list-style: none;}

.mo{display: block;}
.pc{display: none;}

.fruit{height: 45vw;
    position: absolute;
    top: -12vw; right: 72vw;
    animation: spin 4s linear infinite;
}
section:nth-child(2n-1) .fruit{top: -14vw; right: -17vw;}
section:nth-child(2n) .fruit{top: -14vw; right: 72vw;}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}

.bg-color{width: 100%; height: 50vh;
    position: absolute;
    left: 0; bottom: 0;}
.bg-pattern{width: 100%; height: 100vh;
    position: absolute;
    top: 0; left: 0;
    background-size: 5%;
    z-index: -1;}


    
section{width: 100vw; height: 100vh;
    background-color: white;
    overflow: hidden;
    position: relative;}
.sec-wrap{width: 100vw; height: 100vh;
    position: absolute;
    top: 0; left: 0;}
    
section>h2{font-size: 55px;
    letter-spacing: -1px;
    position: absolute;}

.sec1{z-index: 9;}
.sec1 .fruit{z-index: 10;}
.sec2{z-index: 7;}
.sec2 .fruit{z-index: 8;}
.sec3{z-index: 5;}
.sec3 .fruit{z-index: 6;}
.sec4{z-index: 3;}
.sec4 .fruit{z-index: 4;}
.sec5{z-index: 1;}
/* .sec5 .fruit{z-index: 2;} */



@media all and (min-width:1200px){
    .mo{display: none;}
    .pc{display: block;}
    body{overflow: hidden;}

    section{top: 0; left: 0;
        position: absolute;
        background-color: white;}

    section:nth-child(2n-1) .fruit{height: 100vh;
        position: fixed;
        right: -50vh; top: 0;
        animation: none;}
    section:nth-child(2n) .fruit{height: 100vh;
        position: fixed;
        right: -50vh; top: 0;
        animation: none;}

    .bg-pattern{width: 150%; height: 1510vh;
        background-size: 2%;
        transform: translate(-10%,-10%);
        top: 5vh; left: 5%;}
    
    section>h2{font-size: 8vw;}
}

