@charset "utf-8";

/*섹션1*/
.sec1 .bg-pattern{background-image: url(../image/bg-orange.png);}
.sec1 .bg-color{background-color: #FF9F26;
    height: 65%;}
.sec1 h1{font-family: 'BagelFatOne-Regular';
    color: #FF9F26;
    position: absolute;
    top: -25vw; left: 2%;
    font-size: 30vw;}
.sec1 .mo{line-height: 26vw;
    letter-spacing: 2px;}
.sec1 h1 span{color: white;
    font-family: 'BagelFatOne-Regular';}
.sec1 p{position: absolute;
    color: white;
    font-size: 4vw;
    letter-spacing: 3px;
    line-height: 3.5vh;}
.sec1 p:nth-child(3){left: 2%; top: 40vh;}
.sec1 p:nth-child(4){left: 2%; top: 50vh;}

/*섹션2*/
.sec2 .bg-color{background-color: #ACE835;
    height: 60vh;
    color: #333333;}
.sec2 .bg-pattern{background-image: url(../image/bg-kiwi.png);
    background-color: #bbf14f;}
.sec2 h3{font-size: 4vh;
    font-weight: 300;
    position: absolute;
    top: 8.5%; right: 8%;
    z-index: 5;
    text-align: right;
    line-height: 5vw;}
.sec2 h3 span{font-size: 4vw;}
.sec2 h4{font-size: 2.5vh;
    position: absolute;
    top: 6.5vh; right: 8%;
    z-index: 5;
    line-height: 1.4;}
.sec2 .pfp{width: 29vh;
    position: absolute;
    top: 15.5vh; right: 50%;
    border-radius: 15px;
    z-index: 7;
    transform: translateX(50%);}
.status{width: 95%;
    font-size: 4vw;
    position: absolute;
    bottom: 4vh; left: 2.5%;
    line-height: 3.5vh;}
.status span{font-weight: 800;
    font-size: 18px;}

/*섹션3*/
.sec3 .bg-pattern{background-image: url(../image/bg-tomato.png);
    background-color: #ffc792;}
.sec3 .bg-color{background-color: #ff986f;
    height: 60%;}
    

    
/*섹션4*/
.sec4 .bg-pattern{background-image: url(../image/bg-onion.png);
    background-color: #ffdfed;}
.sec4 .bg-color{background-color: #F3B7DB;
    height: 65%;
    z-index: -1;}
.sec4 ul{width: 85%; height: 85vh;
    position: absolute;
    left: 7.5%; top: 7.5vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 4;}

.sec4 ul li{background-color: white;
    width: 100%; height: 20.5vh;
    border-radius: 10px;}

.imgbox{width: 19vh; height: 19vh;
    overflow: hidden;
    border-radius: 10px;
    margin: 0.75vh;} 
.imgbox img{height: 100%;
    object-fit: cover;}  

@media all and (min-width:1200px){

    
    .sec1 h1{font-size: 13vw;
        top: -14.5vw; left: 2%;}
    .sec1 p{font-size: 1.2vw;
        letter-spacing: 3px;}
    .sec1 p:nth-child(3){left: 5vh; top: 32vh;}
    .sec1 p:nth-child(4){left: 5vh; top: 5vh;}
    .sec1 .bg-color{height: 50%;}
    /*색션1*/
    
    .sec2>h2{top: -20px; left: 10px;}
    .sec2 .pfp{width: 13%;
        top: 18%; left: 13%;
        border-radius: 15px;
        transform: translateX(0);}
    .status{width: 60%;
        font-size: 1.8vh;
        bottom: 25%; left: 13%;
        line-height: 1.6;
        letter-spacing: 1px;}
    .status span{font-size: 2vh;}
    .sec2 h3{font-size: 4vh;
        top: 18%; right: 36%;
        line-height: 1;
        text-align: right;}
    .sec2 h3 span{font-size: 1.8vh;}
    .sec2 h4{font-size: 1.8vh;
    top: 10%; left: 13%;}
    .sec2 .sns{font-size: 1.8vh;
        position: absolute;
        bottom: 17%; right: 13%;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 2;}

    /*섹션3*/
    .sec4 .bg-color{height: 60%;}
    /*섹션4*/
    .sec4 ul{width: 55vw; height: 80vh;
        left: 13%; top: 10vh;}
    
    .sec4 ul li{width: 48%; height: 38vh;
        margin-right: 2%;}
    
    .imgbox{width: 30vh; height: 30vh;
        overflow: hidden;
        border-radius: 10px;
        margin: 1vh;} 
}